<div class="container">
  <div class="row">
    <div class="col-12">
      <h1>Sugerencias</h1>
      <div class="table-responsive">
        <table class="table table-fullwidth">
          <thead>
            <tr>
              <th>Asunto</th>
              <th>Contenido</th>
              <th>Observaciones</th>
              <th>Tipo</th>
              <th>Usuario</th>
              <th colspan="3"></th>
            </tr>
          </thead>

          <tbody>
            <% @suggestions.each do |suggestion| %>
              <tr>
                <td><%= suggestion.subject %></td>
                <td><%= suggestion.content %></td>
                <td><%= suggestion.observation %></td>
                <td><%= suggestion.type_s %></td>
                <td><%= "#{suggestion.user.email} <br> #{suggestion.user.name}".html_safe %></td>
                
                
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>



